[package]
name = "process_control"
version = "3.1.0"
authors = ["dylni"]
edition = "2018"
exclude = [".*", "/rustfmt.toml", "/tests"]
description = """
Methods for ergonomically running processes with timeouts
"""
repository = "https://github.com/dylni/process_control"
readme = "README.md"
keywords = ["kill", "process", "terminate", "timeout", "wait"]
categories = ["concurrency", "os"]
license = "MIT OR Apache-2.0"

[package.metadata.docs.rs]
rustc-args = ["--cfg", "process_control_docs_rs"]
rustdoc-args = [
    "--cfg", "process_control_docs_rs",
    "--extern-html-root-url", "std=https://doc.rust-lang.org",
    "-Zunstable-options",
]

[target.'cfg(unix)'.dependencies]
crossbeam-channel = { version = "0.5", optional = true }
libc = "0.2.98"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3", features = ["handleapi", "processthreadsapi", "synchapi", "winbase", "winerror"] }
